include ./common.pug
script.
  var hashAddress = "#{address.a_id}";
  var setting_maxTxCount = parseInt("#{settings.txcount}");
  var setting_txPerPage = parseInt("#{settings.txcount_per_page}");
  var lengthMenuOpts = [];
  var lengthMenuOptsAdd = [ 10, 25, 50, 75, 100, 250, 500, 1000 ];
  for (i=0; i < lengthMenuOptsAdd.length; i++) {
    if (setting_maxTxCount >= lengthMenuOptsAdd[i]) {
      lengthMenuOpts.push(lengthMenuOptsAdd[i]);
    }
  }
  if (setting_maxTxCount < setting_txPerPage) {
    var displayLengthMax = setting_maxTxCount;
  } else {
    var displayLengthMax = setting_txPerPage;
  }
  $(document).ready(function () {
    var rtable = $('#address-txs').dataTable({
      autoWidth: true,
      searching: false,
      ordering: false,
      responsive: true,
      lengthChange: true,
      processing: true,
      serverSide: true,
      iDisplayLength: displayLengthMax,
      lengthMenu: lengthMenuOpts,
      scrollX: true,
      ajax: {
        url: '/ext/getaddresstxs/' + hashAddress,
        beforeSend: function(jqXHR, settings) {
          settings.url = settings.url.substring(0, settings.url.indexOf('?')) + '/' + getParameterByName('start', settings.url) + '/' + getParameterByName('length', settings.url);
          return true;
        }
      },
      language: {
        paginate: {
          previous: '<',
          next: '>'
        }
      },
      rowCallback: function (row, data, index) {
        var timestamp = data[0]; //variables for better readability
        var txhash = data[1]; //variables for better readability
        var out = data[2]; //variables for better readability
        var vin = data[3]; //variables for better readability
        var balance = Number(data[4] / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true}); //variables for better readability
        var balanceParts = balance.split('.');
        $("td:eq(0)", row).html('<a href="/tx/' + txhash + '"><span class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="#{settings.locale.view_tx}"></span></a>').addClass('text-center d-table-cell d-md-none');
        $("td:eq(1)", row).html('<a href="/tx/' + txhash + '">' + txhash + '</a>').addClass('breakWord d-none d-md-table-cell');
        var amount = 0;
        var updown = '';
        var rowclass = 'info';

        if (out > 0 && vin > 0) {
          amount = Number((out - vin) / 100000000);
          if (amount < 0) {
            amount = Number(amount * -1).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
            updown = '-';
          } else if (amount > 0) {
            amount = amount.toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
            updown = '+';
          } else {
            amount = amount.toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
          }
        } else if (out > 0) {
          amount = Number(out / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
          updown = '+';
          rowclass = 'bg-success';
        } else {
          amount = Number(vin / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
          updown = '-';
          rowclass = 'bg-danger';
        }
        var amountParts = amount.split('.');
        $("td:eq(2)", row).html(updown + amountParts[0] + '.<span class="decimal">' + amountParts[1] + '</span>').addClass(rowclass + ' text-center');
        $("td:eq(3)", row).html(balanceParts[0] + '.<span class="decimal">' + balanceParts[1] + '</span>').addClass('text-center');
        $("td:eq(4)", row).html(format_unixtime(new Date(timestamp), true)).addClass('text-center');
      },
      fnDrawCallback: function(settings) {
        fixDataTableColumns();
        fixFooterHeightAndPosition();
        enableTooltips();
      }
    });
  });
table#address-txs.table.table-bordered.table-striped.table-paging.mobile-border-right
  - var theadClasses = [];
  if settings.display.table_header_bgcolor != null && settings.display.table_header_bgcolor != ''
    - theadClasses.push('thead-' + settings.display.table_header_bgcolor);
  thead(class=theadClasses)
    tr
      th.d-table-cell.d-md-none
      th.d-none.d-md-table-cell #{settings.locale.tx_hash}
      th.text-center #{settings.locale.mkt_amount}
        span.small  (#{settings.symbol})
      th.text-center #{settings.locale.rl_balance}
        span.small  (#{settings.symbol})
      th.text-center #{settings.locale.timestamp}
  tbody