.card.card-default.border-0
  table.table.table-hover.table-bordered.table-striped.summary-table.right-border-0(style='margin-bottom:0;', cellspacing='0')
    - var theadClasses = [];
    if settings.display.table_header_bgcolor != null && settings.display.table_header_bgcolor != ''
      - theadClasses.push('thead-' + settings.display.table_header_bgcolor);
    thead(class=theadClasses)
      tr
        th.text-center
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address}
        th.text-center #{settings.locale.rl_received}
          span.small  (#{settings.symbol})
    tbody
      - var count = 0;
      each address in received
        - count = count + 1;
        - var itemFixed = (parseInt(address.received) / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
        - var itemFixedParts = itemFixed.split(".");
        tr
          td.text-center
            =count
          td
            if settings.display.claim_address == false || address.name == null || address.name == ''
              a.breakWord(href='/address/' + address.a_id) #{address.a_id}
            else
              a.breakWord(href='/address/' + address.a_id) #{address.name}
            include ./rl_labels.pug
          td.text-center #{itemFixedParts[0]}.
            span.decimal #{itemFixedParts[1]}