extends layout

block content
  - var balance = Number((address.received - address.sent) / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var balanceParts = balance.split('.');
  - var sent = Number(address.sent /100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var sentParts = sent.split('.');
  - var received = Number(address.received / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var receivedParts = received.split('.');
  if address.a_id !== 'coinbase' || settings.show_sent_received == true
    script.
      $(document).ready(function() {
        $('.summary-table').dataTable({
          info: false,
          paging: false,
          searching: false,
          ordering: false,
          responsive: true,
          scrollX: true,
          fnDrawCallback: function(settings) {
            fixDataTableColumns();
          }
        })
      });
  .col-xs-12.col-md-12
    if address.a_id !== 'coinbase' || settings.show_sent_received == true
      .card.card-default.border-0.card-address-summary.cardSpacer
        .card-header(style='position:relative;')
          if settings.display.claim_address == false || address.name == null || address.name == ''
            strong #{address.a_id}
          else
            strong #{address.name}
          include ./includes/rl_labels.pug
          if !settings.labels[address.a_id] && settings.display.claim_address == true
            a.badge.badge-pill.float-right.d-none.d-sm-block(href="/address/"+ address.a_id +"/claim" style="font-size:smaller;padding-bottom:0;")
              if address.name == null || address.name == ''
                =" Is this yours? Claim it now for free!"
              else
                =" Update claimed address"
        table.table.table-bordered.table-striped.summary-table.mobile-border-right(style='border-top:0;margin-top:0 !important;')
          - var theadClasses = [];
          if settings.display.table_header_bgcolor != null && settings.display.table_header_bgcolor != ''
            - theadClasses.push('thead-' + settings.display.table_header_bgcolor);
          thead(class=theadClasses)
            tr
              if address.a_id !== 'coinbase'
                th.text-center #{settings.locale.rl_balance}
                  span.small  (#{settings.symbol})
              if settings.show_sent_received == true
                th.text-center #{settings.locale.total_sent}
                  span.small  (#{settings.symbol})
              if address.a_id !== 'coinbase' && settings.show_sent_received == true
                th.text-center #{settings.locale.total_received}
                  span.small  (#{settings.symbol})
              if address.a_id !== 'coinbase'
                th.text-center #{settings.locale.a_qr}
          tbody
            tr
              if address.a_id !== 'coinbase'
                td.text-center.addr-summary #{balanceParts[0]}.
                  span.decimal #{balanceParts[1]}
              if settings.show_sent_received == true
                td.text-center.addr-summary #{sentParts[0]}.
                  span.decimal #{sentParts[1]}
              if address.a_id !== 'coinbase' && settings.show_sent_received == true
                td.text-center.addr-summary #{receivedParts[0]}.
                  span.decimal #{receivedParts[1]}
              if address.a_id !== 'coinbase'
                td.text-center.addr-summary
                  img.qrcode(src='/qr/' + address.a_id)
    .card.card-default.border-0.cardSpacer
      .card-header
        strong #{settings.locale.ex_latest_transactions}
      include ./includes/address_history.pug