extends layout

block content
  script.
    $(function () {
        function displayAsText(str) {
          return str.replace(/</g, '&#60;').replace(/>/g, '&#62;');
        }
        function showClaimAlert(claimClass, warnMsg, removedClaim) {
          if ($('#claimAlert').length == 0)
            $('<div id="claimAlert"></div>').insertBefore('#claimForm');
          $('#claimAlert').html('<div class="alert alert-' + claimClass + '"><div class="font-weight-bold" style="padding-bottom:10px;">' + (claimClass == 'success' ? (removedClaim ? 'Address claim removed successfully' : 'Address claimed successfully') : (claimClass == 'danger' ? 'Failed to claim address' : 'Required field missing')) + '</div> ' + (claimClass == 'success' ? 'This address will now be referred to as <strong>' + (removedClaim ? $('input#address').val() : displayAsText($('#message').val())) + '</strong> throughout the website' : warnMsg) + '.</div>');			
        }

        $('#claimForm').on('submit', function (e) {
          e.preventDefault();
          var address = $('input#address').val();
          var message = $('input#message').val();
          var signature = $('input#signature').val();
          var url = '/address/'+address+'/claim';
          
          if (signature == null || signature.trim().length == 0) {
            showClaimAlert('warning', 'Please enter the signature value from your wallet software', false);
            $('input#signature').focus();          
          } else {
            $.ajax({
              type: 'post',
              url: url,
              data: {
                'address': address,
                'message': message,
                'signature': signature
              },
              success: function (data) {
                showClaimAlert((data.status == 'success' ? 'success' : 'danger'), data.message, (data.status == 'success' && message == ''));
              }
            });
          }
        });
      });
  - var balance = Number((address.received - address.sent) / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var balanceParts = balance.split('.');
  - var sent = Number(address.sent /100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var sentParts = sent.split('.');
  - var received = Number(address.received / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true});
  - var receivedParts = received.split('.');
  if address.a_id !== 'coinbase' || settings.show_sent_received == true
    script.
      $(document).ready(function() {
        $('.summary-table').dataTable({
          info: false,
          paging: false,
          searching: false,
          ordering: false,
          responsive: true,
          scrollX: true,
          fnDrawCallback: function(settings) {
            fixDataTableColumns();
          }
        })
      });
  .col-xs-12.col-md-12.cardSpacer
    if address.a_id !== 'coinbase' || settings.show_sent_received == true
      .card.card-default.border-0.card-address-summary.cardSpacer
        .card-header(style='position:relative;')
          if typeof address.name == null || address.name == ''
            strong #{address.a_id}
          else
            strong #{address.name}
          include ./includes/rl_labels.pug
        table.table.table-bordered.table-striped.summary-table.mobile-border-right(style='border-top:0;margin-top:0 !important;')
          - var theadClasses = [];
          if settings.display.table_header_bgcolor != null && settings.display.table_header_bgcolor != ''
            - theadClasses.push('thead-' + settings.display.table_header_bgcolor);
          thead(class=theadClasses)
            tr
              if address.a_id !== 'coinbase'
                th.text-center #{settings.locale.rl_balance}
                  span.small  (#{settings.symbol})
              if settings.show_sent_received == true
                th.text-center #{settings.locale.total_sent}
                  span.small  (#{settings.symbol})
              if address.a_id !== 'coinbase' && settings.show_sent_received == true
                th.text-center #{settings.locale.total_received}
                  span.small  (#{settings.symbol})
              if address.a_id !== 'coinbase'
                th.text-center #{settings.locale.a_qr}
          tbody
            tr
              if address.a_id !== 'coinbase'
                td.text-center.addr-summary #{balanceParts[0]}.
                  span.decimal #{balanceParts[1]}
              if settings.show_sent_received == true
                td.text-center.addr-summary #{sentParts[0]}.
                  span.decimal #{sentParts[1]}
              if address.a_id !== 'coinbase' && settings.show_sent_received == true
                td.text-center.addr-summary #{receivedParts[0]}.
                  span.decimal #{receivedParts[1]}
              if address.a_id !== 'coinbase'
                td.text-center.addr-summary
                  img.qrcode(src='/qr/' + address.a_id)
    .card.card-default.border-0.cardSpacer
      .card-header
        strong Claim this Address
      .card-body
        div.alert.alert-primary
          div
            span You can use the
            span.font-weight-bold  Sign Message
            span  feature from your
            span.font-weight-bold  #{settings.coin}
            span  wallet to verify ownership of this address.
          br
          div Enter the following data into the wallet software:
          br
          div
            span.font-weight-bold Address:
            span  #{address.a_id}
          div
            span.font-weight-bold Message:
            span=' <display name from the form below>'
          br
          div
            span Click the
            span.font-weight-bold  Sign Message
            span  button in the wallet, and copy/paste the resulting
            span.font-weight-bold  Signature
            span  in the form below.
          br
          div
            span Finally, click the
            span.font-weight-bold  Submit
            span  button below to claim your address, which will display your custom display name instead of the default wallet address on this site.
          br
          div
            span.font-weight-bold NOTE:
            span  You can update your claimed address at any time, as often as you wish. To remove a previously claimed display name, simply sign a blank message to return the address back to its original value.
        form#claimForm
          .form-group
            fieldset.entryField
              label(for='address') Wallet Address
              input#address.form-control(type='text' value=address.a_id readonly="")
          .form-group
            fieldset.entryField
              label(for='message') Display Name
              input#message.form-control(type='text', placeholder='Display Name', maxlength='50')
          .form-group
            fieldset.entryField
              label(for='signature') Signature
              input#signature.form-control(type='text', placeholder='Signature', maxlength='100')
          button.btn.btn-primary(type='submit') Submit