extends layout

block content
  include ./includes/common.pug
  script.
    var setting_maxTxCount = parseInt("#{settings.index.last_txs}");
    var setting_txPerPage = parseInt("#{settings.index.txs_per_page}");
    var lengthMenuOpts = [];
    var lengthMenuOptsAdd = [ 10, 25, 50, 75, 100, 250, 500, 1000 ];
    for (i=0; i < lengthMenuOptsAdd.length; i++) {
      if (setting_maxTxCount >= lengthMenuOptsAdd[i]) {
        lengthMenuOpts.push(lengthMenuOptsAdd[i]);
      }
    }
    if (setting_maxTxCount < setting_txPerPage) {
      var displayLengthMax = setting_maxTxCount;
    } else {
      var displayLengthMax = setting_txPerPage;
    }
    $(document).ready(function() {
      var rtable = $('#recent-table').dataTable({
        autoWidth: false,
        searching: false,
        ordering: false,
        responsive: false,
        lengthChange: true,
        processing: true,
        serverSide: true,
        iDisplayLength: displayLengthMax,
        lengthMenu: lengthMenuOpts,
        ajax: '/ext/getlasttxsajax/0',
        language: {
          paginate: {
            previous: '<',
            next: '>'
          }
        },
        rowCallback: function(row, data, index) {
          var blockindex = data[0]; //variables for better readability
          var blockhash = data[1]; //variables for better readability
          var txhash = data[2]; //variables for better readability
          var outputs = data[3]; //variables for better readability
          var amount = (data[4] / 100000000).toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true}); //variables for better readability
          var amountParts = amount.split('.');
          var amount = amountParts[0] + '.<span class="decimal">' + amountParts[1] + '</span>';
          var timestamp = data[5];
          $("td:eq(0)", row).html('<a href="/block/' + blockhash + '">' + blockindex + '</a>');
          $("td:eq(1)", row).html('<a href="/tx/' + txhash + '">' + txhash + '</a>').addClass("text-center breakWord d-none d-sm-table-cell");
          $("td:eq(2)", row).html(outputs).addClass("text-center");
          $("td:eq(3)", row).html(amount);
          $("td:eq(4)", row).html(format_unixtime(new Date(timestamp), true)).addClass("text-center d-none d-sm-table-cell");
        },
      });
      setInterval( function () {
        rtable.api().ajax.reload(null, false);
      }, 60000 );
    });
  if error !== null
    .row
      .col-md-12
        .alert.alert-danger.alert-dismissable(role='alert')
          button.close(type='button', data-dismiss='alert') ×
          strong #{settings.locale.ex_error} : #{error}
  .col-md-12.cardSpacer
    .card.card-default.cardSpacer
      .card-header
        strong #{settings.locale.ex_latest_transactions}
      table#recent-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center #{settings.locale.ex_block}
            th.text-center.d-none.d-sm-table-cell #{settings.locale.tx_hash}
            th.text-center #{settings.locale.tx_recipients}
            th.text-center #{settings.locale.mkt_amount}
              span.small  (#{settings.symbol})
            th.text-center.d-none.d-sm-table-cell #{settings.locale.timestamp}
        tbody.text-center
    .footer-padding