doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title= settings.title
    link(rel='stylesheet', href='/themes/' + settings.theme + '/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')
    link(rel='stylesheet', href='/vendor/flags-css/css/flag-icon.min.css')
    link(res='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css')
    link(rel='stylesheet', href='//cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
    script(src='/vendor/jqplot/jquery.jqplot.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.ohlcRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.highlighter.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.barRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='//cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js')
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js')
    script(src='/javascripts/chart.js')
    script.
      $(document).ready(function() {
        $('##{active}').addClass('active');
        function update_stats() {
          $.ajax({url: '/ext/summary', success: function(json) {
            $("#masternodeCountOnline").text(json.data[0].masternodeCountOnline).prop("alt", json.data[0].masternodeCountOnline+" nodes online").prop("title", json.data[0].masternodeCountOnline+" nodes online");
            $("#masternodeCountOffline").text(json.data[0].masternodeCountOffline).prop("alt", json.data[0].masternodeCountOffline+" unreachable nodes").prop("title", json.data[0].masternodeCountOffline+" unreachable nodes");
            $("#spnMasternodeCountOnline").prop("alt", json.data[0].masternodeCountOnline+" nodes online").prop("title", json.data[0].masternodeCountOnline+" nodes online");
            $("#spnMasternodeCountOffline").prop("alt", json.data[0].masternodeCountOffline+" unreachable nodes").prop("title", json.data[0].masternodeCountOffline+" unreachable nodes");

            var supplyString = json.data[0].supply;
            var diffString = json.data[0].difficulty;
            var hashrateString = json.data[0].hashrate;

            if (!isNaN(json.data[0].difficulty))
              diffString = parseFloat(json.data[0].difficulty).toFixed(2);
            if (!isNaN(json.data[0].supply))
              supplyString = parseInt(parseFloat(json.data[0].supply).toFixed(0)).toLocaleString('en');
            if (!isNaN(json.data[0].hashrate))
              hashrateString = parseFloat(json.data[0].hashrate).toLocaleString('en');

            $("#supply").text(supplyString);
            $("#difficulty").text(diffString);
            $("#difficultyHybrid").text(json.data[0].difficultyHybrid);
            $("#hashrate").text(hashrateString);
            $("#lastPrice").text(parseFloat(json.data[0].lastPrice).toFixed(8));
            $("#marketCap").html((parseFloat(json.data[0].lastPrice).toFixed(8) * parseInt(parseFloat(json.data[0].supply).toFixed(0))).toLocaleString('en') + '<span class="small" style="margin-right:0;">' + '#{settings.markets.exchange}'.toUpperCase() + '</span>');
            $("#lblConnections").text(json.data[0].connections + ' connections');
            $("#lblBlockcount").text(json.data[0].blockcount + ' blocks');
            $("#lblX1").text(' ');
          }});
        }
        $('.block-last-next').tooltip({
          animation: true,
          delay: { hide: 500 }
        });
        if ($('.history-table tbody tr').length) {
          $('.history-table').dataTable({
            searching: false,
            ordering: false,
            responsive: true,
            language: {
              paginate: {
                previous: '<',
                next: '>'
              }
            }
          });
        }
        $('.iquidus').css('color',$('.table').css('color'));
        $(window).resize(function () {
          $($.fn.dataTable.tables(true)).DataTable().columns.adjust();
        });
        setInterval(function() {
          update_stats();
        }, 60000);
        update_stats();
        function getNetworkPanel() {
          var networkSuffix='';
          switch ('#{settings.nethash_units}') {
            case "K":
              networkSuffix='(KH/s)';
              break;
            case "M":
              networkSuffix='(MH/s)';
              break;
            case "G":
              networkSuffix='(GH/s)';
              break;
            case "T":
              networkSuffix='(TH/s)';
              break;
            case "P":
              networkSuffix='(PH/s)';
              break;
            case "H":
              networkSuffix='(H/s)';
              break;
          }
          var hashRateType='<label id="hashrate"></label>';
          if ('#{settings.index.difficulty}' == 'Hybrid') hashRateType+='<br /><label id="lblX1"></label>';
          return '<div class="card-header"><strong>#{settings.locale.network} '+networkSuffix+'</strong></div><div class="card-body"><div id="hashratepanel"><span class="glyphicon fa fa-cogs"></span>'+hashRateType+'</div></div>';
        }
        function getDifficultyPanel() {
          var difficultyType='<label id="difficulty"></label>';
          if ('#{settings.index.difficulty}' == 'Hybrid') difficultyType+='<br /><label id="difficultyHybrid"></label>';
          return '<div class="card-header"><strong>#{settings.locale.difficulty}</strong></div><div class="card-body"><div id="difficultypanel"><span class="glyphicon fas fa-sliders-h"></span>'+difficultyType+'</div></div>';
        }
        function getMasternodesPanel() {
          return '<div class="card-header"><strong>#{settings.locale.masternodecount}</strong></div><div class="card-body"><div id="masternodepanel"><span id="spnMasternodeCountOnline" class="glyphicon fa fa-check-circle"></span><label id="masternodeCountOnline"></label><label>&nbsp;/&nbsp;</label><label id="masternodeCountOffline"></label><span id="spnMasternodeCountOffline" class="glyphicon fa fa-exclamation-triangle"></span></div></div>';
        }
        function getCoinSupplyPanel() {
          var supplyType='<label id="supply"></label>';
          if ('#{settings.index.difficulty}' == 'Hybrid') supplyType+='<br /><label id="lblX1"></label>';
          if (#{settings.index.show_market_cap} == true && #{settings.index.show_market_cap_over_price} != true) supplyType+='<br /><span class="glyphicon fas fa-chart-line"></span><label>(</label><label id="marketCap">-</label><label>)</label>';
          return '<div class="card-header"><strong>#{settings.locale.ex_supply} <span class="small">(#{settings.symbol})</span></strong></div><div class="card-body"><div id="supplypanel"><span class="glyphicon fa fa-chart-pie"></span>'+supplyType+'</div></div>';
        }
        function getPricePanel() {
          if (#{settings.index.show_market_cap} == true && #{settings.index.show_market_cap_over_price} == true) {
            return '<div class="card-header"><strong>Market Cap</strong></div><div class="card-body"><div id="pricepanel"><span class="glyphicon fas fa-chart-line"></span><label id="marketCap"></label></div></div>';
          } else {
            var priceType='<label id="lastPrice">-</label>';
            if ('#{settings.index.difficulty}' == 'Hybrid') priceType+='<br /><label id="lblX1"></label>';
            return '<div class="card-header"><strong>Price <span class="small">(#{settings.markets.exchange})</span></strong></div><div class="card-body"><div id="pricepanel"><span class="glyphicon fa fa-rocket"></span>'+priceType+'</div></div>';
          }
        }
        function getActivePanel(nPanelName) {
          var sReturn='';
          switch (nPanelName) {
            case "networkpnl":
              sReturn=getNetworkPanel();
              break;
            case "difficultypnl":
              sReturn=getDifficultyPanel();
              break;
            case "masternodespnl":
              sReturn=getMasternodesPanel();
              break;
            case "coinsupplypnl":
              sReturn=getCoinSupplyPanel();
              break;
            case "pricepnl":
              sReturn=getPricePanel();
              break;
          }
          return sReturn;
        }
        function hideShowPanel(sPanelID, sPanelName) {
          var oPanel = document.getElementById(sPanelName);
          if (typeof(oPanel) != 'undefined' && oPanel != null) document.getElementById(sPanelName).innerHTML=getActivePanel(sPanelID);
        }
        hideShowPanel('#{settings.panel1}', 'pnlOne');
        hideShowPanel('#{settings.panel2}', 'pnlTwo');
        hideShowPanel('#{settings.panel3}', 'pnlThree');
        hideShowPanel('#{settings.panel4}', 'pnlFour');
        hideShowPanel('#{settings.panel5}', 'pnlFive');
      });
    style(type="text/css").
      .header-icons {
        margin: 0 3px;
      }
  body
    - var navbarClasses = ['nav','navbar','navbar-expand-lg','fixed-top'];
    - var footerClasses = ['nav','navbar','navbar-default','fixed-bottom','d-none','d-md-flex','d-flex','footer'];
    if settings.display.navbar_dark == true
      - navbarClasses.push('bg-dark');
      - navbarClasses.push('navbar-dark');
      - footerClasses.push('bg-dark');
      - footerClasses.push('navbar-dark');
    else if settings.display.navbar_light == true
      - navbarClasses.push('bg-light');
      - navbarClasses.push('navbar-light');
      - footerClasses.push('bg-light');
      - footerClasses.push('navbar-light');
    else
      - navbarClasses.push('bg-primary');
      - navbarClasses.push('navbar-dark');
      - footerClasses.push('bg-primary');
      - footerClasses.push('navbar-dark');
    div(class=navbarClasses, role='navigation', style=settings.homelink == 'logo' ? 'padding-left:0;max-height:65px;' : '')
      .navbar-header
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.navbar-toggler-icon
      if settings.homelink == 'title'
        a.navbar-brand(href='/') #{settings.title}
      else if settings.homelink == 'coin'
        a.navbar-brand(href='/') #{settings.coin}
      else if settings.homelink == 'logo'
        a(href='/', alt=settings.coin + ' Home', title=settings.coin + ' Home')
          img.logo-main(src=settings.logo, style='margin:0;max-height:' + settings.logoheight + 'px;')
      .collapse.navbar-collapse(id='navbar-collapse')
        ul.navbar-nav.mr-auto
          li#home
            a.nav-link(href='/')
              span.fa.fa-search
              span.menu-text #{settings.locale.menu_explorer}
          if settings.heavy == true
            li#reward
              a.nav-link(href='/reward')
                span.fa.fa-star
                span.menu-text #{settings.locale.menu_reward}
          if settings.display.movement == true
            li#movement
              a.nav-link.loading(href='/movement')
                span.far.fa-money-bill-alt
                span.menu-text #{settings.locale.menu_movement}
          if settings.display.network == true
            li#network
              a.nav-link(href='/network')
                span.fa.fa-share-alt
                span.menu-text #{settings.locale.menu_network}
          if settings.display.richlist == true
            li#richlist
              a.nav-link(href='/richlist')
                span.fab.fa-btc
                span.menu-text #{settings.locale.menu_richlist}
          if settings.display.markets == true
            li#markets
              a.nav-link.loading(href='/markets/'+settings.markets.default)
                span.fas.fa-chart-line
                span.menu-text #{settings.locale.menu_markets}
          if settings.display.api == true
            li#info
              a.nav-link(href='/info')
                span.fa.fa-info-circle
                span.menu-text #{settings.locale.menu_api}
    .col-lg-12
      .row.text-center.d-flex.justify-content-center
        div(class="col-lg-2 col-lg-offset-" + settings.paneloffset)
          - if(settings.panel1 != '') {
            .card.card-default.d-none.d-lg-block.d-block.cardSpacer(id='pnlOne')
          - }
        - if(settings.panel2 != '') {
          .col-lg-2
            .card.card-default.d-none.d-lg-block.d-block.cardSpacer(id='pnlTwo')
        - }
        - if(settings.panel3 != '') {
          .col-lg-2
            .card.card-default.d-none.d-lg-block.d-block.cardSpacer(id='pnlThree')
        - }
        - if(settings.panel4 != '') {
          .col-lg-2
            .card.card-default.d-none.d-lg-block.d-block.cardSpacer(id='pnlFour')
        - }
        - if(settings.panel5 != '') {
        .col-lg-2
          .card.card-default.d-none.d-lg-block.d-block.cardSpacer(id='pnlFive')
        - }
      .row.text-center(style='margin-top:10px;margin-bottom:20px;')
        form.form-inline.col-12.d-flex.justify-content-center(method='post', action='/search')
          #index-search.form-group.d-flex.justify-content-center
            input.form-control(type='text', name='search', placeholder=settings.locale.ex_search_message, style='min-width:80%;margin-right:5px;')
            button.btn.btn-success(type='submit') #{settings.locale.ex_search_button}
    block content
    div(class=footerClasses, role='navigation')
      .col-4.navbar-nav
        if settings.display.github || settings.display.discord || settings.display.telegram || settings.display.reddit || settings.display.youtube || settings.display.slack || settings.display.twitter || settings.display.facebook || settings.display.googleplus || settings.display.bitcointalk || settings.display.website
          ul.nav.justify-content-left
            if settings.display.github
              li.float-left
                a#github-icon.nav-link.social-link.border-0(href="https://github.com/" + settings.github, target='_blank', alt=settings.coin + ' Github', title=settings.coin + ' Github')
                  span.glyphicon.fab.fa-github
            if settings.display.discord
              li.float-left
                a#discord-icon.nav-link.social-link.border-0(href=settings.discord, target='_blank', alt=settings.coin + ' Discord', title=settings.coin + ' Discord')
                  span.glyphicon.fab.fa-discord
            if settings.display.telegram
              li.float-left
                a#telegram-icon.nav-link.social-link.border-0(href="https://t.me/" + settings.telegram, target='_blank', alt=settings.coin + ' Telegram', title=settings.coin + ' Telegram')
                  span.glyphicon.fab.fa-telegram
            if settings.display.reddit
              li.float-left
                a#reddit-icon.nav-link.social-link.border-0(href="https://reddit.com/r/" + settings.reddit, target='_blank', alt=settings.coin + ' Reddit', title=settings.coin + ' Reddit')
                  span.glyphicon.fab.fa-reddit
            if settings.display.youtube
              li.float-left
                a#youtube-icon.nav-link.social-link.border-0(href=settings.youtube, target='_blank', alt=settings.coin + ' YouTube', title=settings.coin + ' YouTube')
                  span.glyphicon.fab.fa-youtube
            if settings.display.slack
              li.float-left
                a#slack-icon.nav-link.social-link.border-0(href=settings.slack, target='_blank', alt=settings.coin + ' Slack', title=settings.coin + ' Slack')
                  span.glyphicon.fab.fa-slack
            if settings.display.twitter
              li.float-left
                a#twitter-icon.nav-link.social-link.border-0(href="https://twitter.com/" + settings.twitter, target='_blank', alt=settings.coin + ' Twitter', title=settings.coin + ' Twitter')
                  span.glyphicon.fab.fa-twitter
            if settings.display.facebook
              li.float-left
                a#facebook-icon.nav-link.social-link.border-0(href="https://www.facebook.com/" + settings.facebook, target='_blank', alt=settings.coin + ' Facebook', title=settings.coin + ' Facebook')
                  span.glyphicon.fab.fa-facebook
            if settings.display.googleplus
              li.float-left
                a#googleplus-icon.nav-link.social-link.border-0(href="https://plus.google.com/" + settings.googleplus, target='_blank', alt=settings.coin + ' Google+', title=settings.coin + ' Google+')
                  span.glyphicon.fab.fa-google-plus
            if settings.display.bitcointalk
              li.float-left
                a#bitcointalk-icon.nav-link.social-link.border-0(href="https://bitcointalk.org/index.php?topic=" + settings.bitcointalk, target='_blank', alt=settings.coin + ' Bitcointalk', title=settings.coin + ' Bitcointalk')
                  span.glyphicon.fab.fa-btc
            if settings.display.website
              li.float-left
                a#website-icon.nav-link.social-link.border-0(href=settings.website, target='_blank', alt=settings.coin + ' Website', title=settings.coin + ' Website')
                  span.glyphicon.fa.fa-link
      .col-4.navbar-nav
        ul.nav.justify-content-center
          li.text-center
            p
              a.nav-link.poweredby.border-0(href='https://github.com/team-exor/eiquidus', target='_blank') eIquidus Explorer v#{settings.explorer_version}
      .col-4.navbar-nav
        ui.nav.justify-content-end
          label#lblBlockcount.badge.badge-secondary.nav-link.border-0.float-right
          label#lblConnections.badge.badge-secondary.nav-link.border-0.float-right