extends layout

block content
  include ./includes/common.pug
  script.
    var setting_maxTxCount = parseInt("#{settings.index.last_txs}");
    var setting_txPerPage = parseInt("#{settings.index.txs_per_page}");
    var lengthMenuOpts = [];
    var lengthMenuOptsAdd = [ 10, 25, 50, 75, 100, 250, 500, 1000 ];
    for (i=0; i < lengthMenuOptsAdd.length; i++) {
      if (setting_maxTxCount >= lengthMenuOptsAdd[i]) {
        lengthMenuOpts.push(lengthMenuOptsAdd[i]);
      }
    }
    if (setting_maxTxCount < setting_txPerPage) {
      var displayLengthMax = setting_maxTxCount;
    } else {
      var displayLengthMax = setting_txPerPage;
    }
    var rplot;
    var colors = ["#0071bc"];
    $(document).ready(function() {
      var rtable = $('#movement-table').dataTable({
        autoWidth: true,
        searching: false,
        ordering: false,
        lengthChange: true,
        processing: true,
        serverSide: true,
        iDisplayLength: displayLengthMax,
        lengthMenu: lengthMenuOpts,
        ajax: '/ext/getlasttxsajax/#{min_amount}',
        language: {
          paginate: {
            previous: '<',
            next: '>'
          }
        },
        rowCallback: function(row, data, index) {
          var blockindex = data[0]; //variables for better readability
          var blockhash = data[1]; //variables for better readability
          var txhash = data[2]; //variables for better readability
          var outputs = data[3]; //variables for better readability
          var amount = (data[4] / 100000000); //variables for better readability
          var amountParts = amount.toLocaleString('en',{'minimumFractionDigits':2,'maximumFractionDigits':8,'useGrouping':true}).split('.');
          var amountStr = amountParts[0] + '.<span class="decimal">' + amountParts[1] + '</span>';
          var timestamp = data[5]; //variables for better readability
          if (amount > '#{flagb}') {
            var total = "<label class='badge badge-danger'>" + amountStr + "</label>";
          } else if (amount > '#{flaga}') {
            var total = "<label class='badge badge-warning'>" + amountStr + "</label>";
          } else {
            var total = "<label class='badge badge-success'>" + amountStr + "</label>";
          }
          $("td:eq(0)", row).html(format_unixtime(new Date(timestamp), true));
          $("td:eq(1)", row).html('<a href="/tx/' + txhash + '">' + txhash + '</a>').addClass('breakWord d-none d-sm-table-cell');
          $("td:eq(2)", row).html(total);
        }
      });
      setInterval(function () {
        rtable.api().ajax.reload(null, false);
      }, 45000);
    });
  .col-md-12(style="margin-bottom: 4%")
    .card.card-default
      .card-header
        strong="Latest Movement"
      table#movement-table.table.table-bordered.table-striped
        thead
          tr
            th.text-center timestamp
            th.text-center.d-none.d-sm-table-cell txid
            th.text-center amount
        tbody.text-center
    .footer-padding